

    <div>
        <button onclick="connectMetamask()">Connect Metamask</button>
        <p id="metamasknotification"></p>
    </div>

    <div>
        <p id= "votingStatus"></p>
    </div>

    <div>
        <form action="/admin/viewCandidates" method="post">
        <button type="submit">List All Candidates</button></form>
        
    </div>

    