
<body class="bg-gradient-to-r from-white to-blue-400 p-6">
    
    <div>
        <button onclick="connectMetamask()">Connect Metamask</button>
        <p id="metamasknotification"></p>
    </div>
    <div>
        <form action="/admin/viewCandidates" method="post">
        <button type="submit">List All Candidates</button></form>
        
    </div>

    </body>